/* Global Styles / For All */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body:not([style*=font-family]){
    font-family: "Source-Sans-Pro", sans-serif;
    width: 100%;
}

main{
    margin-top: 5.5vw;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #218279;
    border-bottom: 0.3vw solid white;
    z-index: 9999;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1vw;
    color: white;
}

nav ul li {
    list-style: none;
}

nav ul a {
    font-size: 2vw;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: none;
    padding: 1.4vw;
}

nav ul li::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}

nav ul li:hover:after{
    width: 100%;
    background: #51cfc3;
  }

.active a{
    background-color: #32968c;
}

#schoolNameTopLeft {
    margin-left: 3%;
    color: #c1f6ed;
    font-size: 3.5vw;
    font-family: "Bebas Neue", sans-serif;
    float: left;
}

.menu-btn{
    display:none;
    color: white;
}


/* Homepgae (index.html) */
#homepage_banner{
    margin-top: -1.8vw;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin-right: 2vw;
}

.agent{
    margin-top: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#agent_text{ 
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 11vw;
    width: 46vw;
    left: 1vw;
}

#line{
    width: 100%;
    height: .3vw;
    background-color: black;
}

#agent_header{
    font-size: 2.5vw;
}

#agent_footer{
    font-size: 3vw;
}
nav #icon{
    color: white;
    font-size: 40px;
}

.logos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-left: auto;
    margin-bottom: 6vh;
}

.logos img{
    width: 15vw;
}

.homepage_bio{
    text-align: center;
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.homepage_bio h2{
    font-size: 5vw;
    font-family: "source-sans-pro";
    font-weight: 700;
}
.homepage_bio p{
    margin-top: 5vh;
    font-size: 1.5vw;
    
}

.LSTHS_campaign {
    margin-top: 20vh;
    width: 100%;

}
.video_container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 0;
    padding-bottom: 39.5%;
    overflow: hidden;
}

.video_container iframe,
.video_container object,
.video_container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_controls button.hidden{
    display: none;
}
.LSTHS_campaign .video_controls button{
    position: absolute;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.7rem;
}

.LSTHS_campaign .video_controls{
    position: relative;
    left: -2vw;
    display: flex;
    justify-content: space-around;
}

/* All sections */
.grade_section{
    display: flex;
    justify-content: center;
}
.section_adviser{
    display: flex;
    justify-content: center;
}

.student_table{
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px; 
}
.student_table th{
    width: 50%;
    border-style: solid;
    border-width: 1px; 
    font-size: 2em;
}

.student_table td{
    width: 50%;
    border-style: solid;
    border-width: 1px;
    font-size: 1.7vw;
}

.student_table td:hover{
    background-color: #ebeaea;
    cursor: pointer;
}

.card{
    margin-top: 2vw;
    display: none;
    padding: 10px;
    position: absolute;
    transform: translateY(0);
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    width: 50vw;
    background-color: white;
    font-size: 2vw;
}

.card img{
    display: flex;
    border-style: solid;
    border-width: 2px;
    width: 15vw;

}

.card #Sname,
.card #Sage,
.card #Ssex,
.card #Sbday {
    position: absolute;
    display: block;
    left: 18vw;
}

.card #Sname {
    top: 10%;
}

.card #Sage {
    top: 27%;
}

.card #Ssex {
    top: 44%;
}

.card #Sbday {
    top: 61%;
}

.card.show_card{
    display: block;
}

/* Grade Option Table (students.html)*/
.grade_options table{
    width: 100%;
    border-style: solid;
    border-width: .2vw;
    border-color: black;

}
.grade_options td{
    border-style: solid;
    border-width: .1vw;
    border-color: black;
    text-align: center;
    width: 100vw;
}

.grade_options a{
    text-decoration: none;
    color: black;
}

/* Contacts (contact.html)*/
.contact{
    position: absolute;
    top: 5vh;
    margin-left: 3.5vw;
    font-size: 1.8vw;   
    z-index: 10;
    width: fit-content;
}

.contact p{
    margin-bottom: 1.5vw;
    transition: transform.3s ease;
    width: auto;
}

.contact p i{
    margin-right: 1vw;
}

.contact p a{
    text-decoration: none;
    color: black;    
}

.contact-map{
    position: relative;
    height: fit-content;
    width: 100%;
    margin-bottom: 70vh;
}

.map{
    position: absolute;
    right: 5vw;
    width: 40%;
    height: 50vh;
    top: -2vh;
}
.map iframe{
    height: 100%;
    width: 100%;
    right: 0;
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 5px 10px 10px#d5d5d5;

}

.contact p:hover{
    transform: translateY(-20%);
    text-shadow: 3px 3px 5px #c4c4c4;
}


.contact_box{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5vw;
    margin-top: 20vw;
    margin-bottom: 9vw;
}

.contact_us{
    position: relative;
    height: 35vw;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: -5vw;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 10px#d5d5d5;
}

.contact_inputs{
    outline: none;
    border-style: solid;
    border-color: black;
    border-width: .2vw;
    width: 95%;
    height: 10%; 
    padding-left: 25px; 
    font-weight: 500; 
    color:#666;
    border-radius: 50px;
}

.contact_inputs:hover{
    background-color: #ededed;
}

textarea.contact_inputs{
    padding-left: 25px;
    padding-top: 15px;
    height: 50%;
    border-radius: 15px;
}

/* Staff */
.School_Head {
    display: flex;
    justify-content: center;
}


/*footer{
    position: relative;
    bottom: 0;  
    background-color: #218279;
    color: white;
    height: 10vh;
}*/

@media (max-width: 900px) {
    .contact_box{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 15vw;
        display: block;
    }
    .contact_us{
        height: 60%;
        width: 100%;
    }

    .contact_inputs{
        height: 10%;
    }
    textarea.contact_inputs{
        border-radius: 20px;
    }
    .contact{
        position: relative;
        font-size: 3vw;
    }

    .map{
        width: 90%;
        position: absolute;
        top: 170%;
        display: flex;
        justify-content: center;
    }
    .map iframe{
        height: 100%;
        width: 100%;
    }
    .video_container{
        width: 80%;
        padding-bottom: 45%;
    }
    .homepage_bio{
        margin-top: 3vh;
    }
}
@media (max-width: 600px) {
    nav{
        border-bottom-width: 1.3vw;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin-top: 20px;

    }
    nav ul li a{
        font-size: 4.5vw;
    }
    nav .menu-options{
        position: fixed;
        top: 8vw;
        left: -100%;
        background-color:#218279;
        width: 50%;
        height: 100vh;
        max-width: 200px;
        display: block;
        transition: .5s;
    }

    .menu-options.active-nav{
        left: 0%;
    }
    .active a{
        background-color: transparent;
    }
    .active{
        background-color: #32968c;
        padding: 10px;
    }
    .menu-btn{
        cursor:pointer;
        display: block;
        float: right;
        font-size: 5vw;
        margin: 1vw;
        margin-right: 5%;
    }
    #schoolNameTopLeft{
        font-size: 6vw;
    }

    .agent{
        margin-top: 2vw;
    }
    #agent_text{
        display: block;
    } 

    main{
        margin-top: 10vw;
    }

    .student_table th{
        font-size: 5vw;
    }

    .student_table td{
        font-size: 2vw;
    }

    .contact{
        position: relative;
        font-size: 3.5vw;
    }

    .grade_options table{
        border-width: .4vw;
    }
    .grade_options td{
        display: block;
        width: 100%;
        border-width: .3vw;
    }
    .LSTHS_campaign .video_controls button{
        font-size: 1.4rem;
    }
    
    .LSTHS_campaign .video_controls{
        left: -5vw;
    }

    .homepage_bio p{
        font-size: 2.3vw;
    }

    .video_container{
        width: 90%;
        padding-bottom: 50.25%;
    }

    .contact-map .map{
        left: 0;
        width: 100%;
    }
}