*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    margin-top: 7vw;
}

nav {
    position: fixed;
    top: 0;
    background-color: #218279;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: .5vw;
    border-bottom-color: white;
    z-index: 9999; 
}

nav ul{
    margin-top: 1vw;
    color: white;
    float: right;
    display: inline-flex;

}
nav ul a{
    font-size: 3vw;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: none;    
    text-align: center;
    padding: 1.4vw;
}

nav ul li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
nav ul li:hover:after {
    width: 100%;
    background: #51cfc3;
  }

.active a{
    background-color: #32968c;
}

#schoolNameTopLeft {
    margin-left: 3%;
    color: #c1f6ed;
    font-size: 4.5vw;
    font-family: "Bebas Neue", sans-serif;
    float: left;
}

nav ul li {
    list-style:none;
    display: inline-block;
    text-align: left;
}

.menu-btn{
    display:none;
    color: white;
}

#homepage_banner{
    margin-top: 3.5vw;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin-right: 2vw;
}

.agent {
    margin-top: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#agent_text{ 
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 11vw;
    width: 46vw;
    left: 1vw;
}

#line {
    width: 100%;
    height: .3vw;
    background-color: black;
}
#agent_header{
    font-size: 2.5vw;
}

#agent_footer {
    font-size: 3vw;
}
nav #icon{
    color: white;
    font-size: 40px;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-left: auto;
}

.logos img{
    width: 15vw;
}

.grade_section {
    display: flex;
    justify-content: center;
}
.section_adviser {
    display: flex;
    justify-content: center;
}

.student_table{
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px; 
}
.student_table th{
    width: 50%;
    border-style: solid;
    border-width: 1px; 
    font-size: 2em;
}

.student_table td{
    width: 50%;
    border-style: solid;
    border-width: 1px;
    font-size: 1.7vw;
}

.student_table td:hover{
    background-color: #ebeaea;
    cursor: pointer;
}

.card{
    margin-top: 2vw;
    display: none;
    padding: 10px;
    position: absolute;
    transform: translateY(0);
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    width: 50vw;
    background-color: white;
    font-size: 2vw;
}

.card img{
    display: flex;
    border-style: solid;
    border-width: 2px;
    width: 15vw;

}

.card #Sname{
    position: absolute;
    display: block;
    top: 10%;
    left: 18vw;
}

.card #Sage{
    position: absolute;
    display: block;
    top: 27%;
    left: 18vw;
}

.card #Ssex{
    position: absolute;
    display: block;
    top: 44%;
    left: 18vw;
}

.card #Sbday{
    position: absolute;
    display: block;
    top: 61%;
    left: 18vw;
}
.card.show_card{
    display: block;
}

.grade_options table{
    width: 100%;
    border-style: solid;
    border-width: .2vw;
    border-color: black;

}
.grade_options td{
    border-style: solid;
    border-width: .1vw;
    border-color: black;
    text-align: center;
    width: 100vw;
}

.grade_options a{
    text-decoration: none;
    color: black;
}

#contact {
    top: 55%;
    position: absolute;
    margin-left: 5vw;
    font-size: 2vw;   
    z-index: 10;   
}

#contact p{
    margin-bottom: 2vw;
}

#contact p i{
    margin-right: 1vw;
}

#contact p a{
    text-decoration: none;
    color: black;    
}
#map {
    padding-bottom: 25%;
    position: relative;
}
#map iframe{
    height: 100%;
    width: 40%;
    right: 3vw;
    top: 0;
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 5px 10px 10px#d5d5d5;

}

#contact p:hover{
    transform: translateY(-20%);
    text-shadow: 3px 3px 5px #dfdfdf;
}

@media (max-width: 900px) {

    #contact {
        position: relative;
        font-size: 3vw;
    }

    #map {
        margin-top: 5vh;
        display: flex;
        justify-content: center;
        padding-bottom: 50%;
        width: 100%;
    }
    #map iframe{
        height: 100%;
        width: 90%;
        right: 5%;
    }
}
@media (max-width: 600px) {
    nav {
        border-bottom-width: 1.3vw;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin-top: 20px;

    }
    nav ul li a{
        font-size: 4.5vw;
    }
    nav .menu-options{
        position: fixed;
        top: 8vw;
        left: -100%;
        background-color:#218279;
        width: 50%;
        height: 100vh;
        max-width: 200px;
        display: block;
        transition: .5s;
    }

    .menu-options.active-nav{
        left: 0%;
    }
    .active a{
        background-color: transparent;
    }
    .active{
        background-color: #32968c;
        padding: 10px;
    }
    .menu-btn {
        cursor:pointer;
        display: block;
        float: right;
        font-size: 5vw;
        margin: 1vw;
        margin-right: 5%;
    }
    #schoolNameTopLeft{
        font-size: 6vw;
    }

    .agent{
        margin-top: 2vw;
    }
    #agent_text{
        display: block;
    } 

    main {
        margin-top: 10vw;
    }

    .student_table th{
        font-size: 5vw;
    }

    .student_table td{
        font-size: 2vw;
    }

    #contact {
        position: relative;
        font-size: 3.5vw;
    }

    .grade_options table {
        border-width: .4vw;
    }
    .grade_options td{
        display: block;
        width: 100%;
        border-width: .3vw;
    }
}